body{padding: 0; margin: 0;}
#mycanvas {
    border: 1px solid black;
    width: 1300px;
    height: 900px;
    margin-left: 300px;
    background-color: #006400;
    margin-top: 13px;

}
#img1{
    height: 100vh;
    background-image: url("bac.jpg");
}
#img2{
    height: 100vh;
    background-image: url("bac3.jpeg");
}
#img3{
    height: 100vh;
    background-image: url("bac2.jpg");
}

#game-field{
    background-image: url("bac2.jpg");
    height: 100vh;

}
#btn{
    position: absolute;
    left: 800px;
    top: 200px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: orangered;
    color: white;

}

#optionbtn{
    height: 95px;
    width: 95px;
    margin-left: 1600px;
    margin-top: -1200px;

}
#exit{
    position: absolute;
    left: 800px;
    top: 400px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: orangered;
    color: white;
}

#high{
    position: absolute;
    left: 800px;
    top: 300px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: orangered;
    color: white;

}
#exit:hover{
    width: 355px;
    height: 55px;
}
#high:hover{
    width: 355px;
    height: 55px;
}
#btn:hover{
    width: 355px;
    height: 55px;
}
.modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
    height: 500px;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.unsupported {
    border: 1px solid #FFFF40;
    color: black;
    background-color: #FFFFAD;
    padding: 2em;
    margin: 5em;
    display: inline-block;
}
.box6 {
    text-align: left;
}
.modal-cont{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
    height: auto;
}

.opt {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
    height: 500px;
}

.closee {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closee:hover,
.closee:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#btnn1{
    height: 100px;
    width: 50px;
}
#btnn2{
    height: 100px;
    width: 50px;
}
#btnn3{
    height: 100px;
    width: 5px;
}